In [1]:
import numpy as nd
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
csv_in = 'wholesale_customers-with-errors.csv'
df = pd.read_csv(csv_in, sep=',', skiprows=13, header=0)
print(df.shape)
print(df.info())
display(df.head())
display(df.tail())

(440, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel           440 non-null    int64
 1   Region            440 non-null    object
 2   Fresh             440 non-null    int64
 3   Milk              438 non-null    float64
 4   Grocery           440 non-null    int64
 5   Frozen            439 non-null    float64
 6   Detergents_Paper  440 non-null    int64
 7   Delicatessen      440 non-null    int64
dtypes: float64(2), int64(5), object(1)
memory usage: 27.6+ KB
None

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicatessen
0,2,Other,12669,NaN,7561,214.0,2674,1338
1,2,other,7057,9810.0,9568,1762.0,3293,1776
2,2,Otheer,6353,8808.0,7684,2405.0,3516,7844
3,2,Otheer,6353,8808.0,7684,2405.0,3516,7844
4,1,Other,13265,NaN,4221,NaN,507,1788

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicatessen
435,1,Other,29703,12051.0,16027,13135.0,182,2204
436,1,Other,39228,1431.0,764,4510.0,93,2346
437,2,Other,14531,15488.0,30243,437.0,14841,1867
438,1,Other,10290,1981.0,2232,1038.0,168,2125
439,1,Other,2787,1698.0,2510,65.0,477,52

In [5]:
df_ret2 = df[df['Region']=='Oporto']
display(df_ret2)

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicatessen
293,2,Oporto,3996,11103.0,12469,902.0,5952,741
294,1,Oporto,21273,2013.0,6550,909.0,811,1854
295,2,Oporto,7588,1897.0,5234,417.0,2208,254
296,1,Oporto,19087,1304.0,3643,3045.0,710,898
297,2,Oporto,8090,3199.0,6986,1455.0,3712,531
298,2,Oporto,6758,4560.0,9965,934.0,4538,1037
299,1,Oporto,444,879.0,2060,264.0,290,259
300,2,Oporto,16448,6243.0,6360,824.0,2662,2005
301,2,Oporto,5283,13316.0,20399,1809.0,8752,172
302,2,Oporto,2886,5302.0,9785,364.0,6236,555
303,2,Oporto,2599,3688.0,13829,492.0,10069,59
304,2,Oporto,161,7460.0,24773,617.0,11783,2410
305,2,Oporto,243,12939.0,8852,799.0,3909,211
306,2,Oporto,6468,12867.0,21570,1840.0,7558,1543
309,2,Oporto,918,20655.0,13567,1465.0,6846,806
310,1,Oporto,7034,1492.0,2405,12569.0,299,1117
311,1,Oporto,7034,1492.0,2405,12569.0,299,1117
312,1,Oporto,7034,1492.0,2405,12569.0,299,1117
313,1,Oporto,9784,925.0,2405,4447.0,183,297
314,1,Oporto,10617,1795.0,7647,1483.0,857,1233
315,2,Oporto,1479,14982.0,11924,662.0,3891,3508
316,1,Oporto,7127,1375.0,2201,2679.0,83,1059
317,1,Oporto,1182,3088.0,6114,978.0,821,1637
318,1,Oporto,11800,2713.0,3558,2121.0,706,51
319,2,Oporto,9759,25071.0,17645,1128.0,12408,1625
320,1,Oporto,1774,3696.0,2280,514.0,275,834
321,1,Oporto,9155,1897.0,5167,2714.0,228,1113
322,1,Oporto,15881,713.0,3315,3703.0,1470,229
323,1,Oporto,13360,944.0,11593,915.0,1679,573
324,1,Oporto,25977,3587.0,2464,2369.0,140,1092
325,1,Oporto,32717,16784.0,13626,60869.0,1272,5609
326,1,Oporto,4414,1610.0,1431,3498.0,387,834
327,1,Oporto,542,899.0,1664,414.0,88,522
328,1,Oporto,16933,2209.0,3389,7849.0,210,1534
329,1,Oporto,5113,1486.0,4583,5127.0,492,739
330,1,Oporto,9790,1786.0,5109,3570.0,182,1043
331,2,Oporto,11223,14881.0,26839,1234.0,9606,1102
332,1,Oporto,22321,3216.0,1447,2208.0,178,2602
333,2,Oporto,8565,4980.0,67298,131.0,38102,1215
334,2,Oporto,16823,928.0,2743,11559.0,332,3486
335,2,Oporto,27082,6817.0,10790,1365.0,4111,2139
336,1,Oporto,13970,1511.0,1330,650.0,146,778
337,1,Oporto,9351,1347.0,2611,8170.0,442,868
338,1,Oporto,3,333.0,7021,15601.0,15,550
339,1,Oporto,2617,1188.0,5332,9584.0,573,1942